<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body>
    <header>
      <a href="/"
        ><img
          src="{{ .Site.Author.avatar }}"
          class="profile_photo"
          width="80"
          height="80"
      /></a>
      <h1><a href="/">{{ .Site.Title }}</a></h1>
    </header>

    <main class="links">
      {{ with .Site.Author.username }}
        <a href="https://micro.blog/{{ . }}">
          <span class="fa-brands fa-microblog"></span> Micro.blog: {{ . }}
        </a>
      {{ end }} 
      {{ if .Site.Params.gateway_mastodon_username }}
        <a href="{{ .Site.Params.gateway_mastodon_url }}">
          <span class="fa-brands fa-mastodon"></span> Mastodon: {{ .Site.Params.gateway_mastodon_username }}
        </a>
      {{ end }} 
      {{ with .Site.Params.gateway_pixelfed_username }}
        <a href="https://pixelfed.social/{{ . }}">
          <span class="fa-brands fa-pixelfed"></span> Pixelfed: {{. }}</a>
      {{ end }} 
      {{ with .Site.Params.gateway_twitter_username }}
      <a href="https://twitter.com/{{ . }}">
        <span class="fa-brands fa-twitter"></span> Twitter: {{ . }}
      </a>
      {{ end }} 
      {{ with .Site.Params.gateway_bluesky_username }}
      <a href="https://bsky.app/profile/{{ . }}">
        <span class="fa-brands fa-bluesky"></span> Bluesky: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_facebook_username }}
      <a href="https://facebook.com/{{ . }}">
        <span class="fa-brands fa-facebook"></span> Facebook: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_threads_username }}
      <a href="https://threads.net/{{ . }}">
        <span class="fa-brands fa-threads"></span> Threads: {{ . }}
      </a>
      {{ end }} 
      {{ with .Site.Params.gateway_instagram_username }}
      <a href="https://instagram.com/{{ . }}">
        <span class="fa-brands fa-instagram"></span> Instagram: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_snapchat_username }}
      <a href="https://snapchat.com/add/{{ . }}">
        <span class="fa-brands fa-snapchat"></span> Snapchat: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_tiktok_username }}
      <a href="https://tiktok.com/@{{ . }}">
        <span class="fa-brands fa-tiktok"></span> TikTok: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_linkedin_username }}
      <a href="https://linkedin.com/in/{{ . }}">
        <span class="fa-brands fa-linkedin"></span> LinkedIn: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_github_username }}
      <a href="https://github.com/{{ . }}">
        <span class="fa-brands fa-github"></span> GitHub: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_medium_username }}
      <a href="https://medium.com/@{{ . }}">
        <span class="fa-brands fa-medium"></span> Medium: {{ . }}
      </a>
      {{ end }}
      {{ with .Site.Params.gateway_email }}
      <a href="mailto:{{ . }}">
        <span class="fa-solid fa-envelope"></span> Email: {{ . }}
      </a>
      {{ end }} 
      {{ if .Site.Params.gateway_blog_url }}
      <a href="{{ .Site.Params.gateway_blog_url }}">
        <span class="fa-solid fa-link"></span> Blog: {{ replace .Site.Params.gateway_blog_url "https://" "" }}
      </a>
      {{ else }}
      <a href="https://{{ .Site.Params.gateway_hostname }}/archive/">
        <span class="fa-solid fa-link"></span> Blog: {{ .Site.Params.gateway_hostname }}
      </a>
      {{ end }}
    </main>

    {{ partial "footer.html" . }} {{ partial "custom_footer.html" . }} {{ range
    .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
    {{ end }}
  </body>
</html>
