<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    <header>          
        <a href="/"><img src="{{ .Site.Author.avatar }}" class="profile_photo" width="80" height="80"></a>        
        <h1><a href="/">{{ .Site.Title }}</a></h1>
    </header>
    
    <main class="links">

        {{ with .Site.Author.username }}
            <a href="https://micro.blog/{{ . }}"><span class="fa-brands fa-microblog"></span> Micro.blog: {{ . }}</a>
        {{ end }}
    
        {{ with .Site.Params.gateway_mastodon_username }}
            <a href="https://mastodon.social/{{ . }}">Mastodon: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_twitter_username }}
            <a href="https://twitter.com/{{ . }}">Twitter: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_facebook_username }}
            <a href="https://facebook.com/{{ . }}">Facebook: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_instagram_username }}
            <a href="https://instagram.com/{{ . }}">Instagram: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_snapchat_username }}
            <a href="https://snapchat.com/{{ . }}">Snapchat: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_tiktok_username }}
            <a href="https://tiktok.com/{{ . }}">TikTok: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_linkedin_username }}
            <a href="https://linkedin.com/{{ . }}">LinkedIn: {{ . }}</a>
        {{ end }}

        {{ with .Site.Params.gateway_github_username }}
            <a href="https://github.com/{{ . }}">GitHub: {{ . }}</a>
        {{ end }}

        <a href="/2022/">Blog Posts</a>

    </main>

    {{ partial "footer.html" . }}
    {{ partial "custom_footer.html" . }}

        {{ range .Site.Params.plugins_js }}
            <script src="{{ . }}"></script>
        {{ end }}

  </body>

</html>
